<!DOCTYPE html>
<html>
<head>
	<title> <%= title %> </title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
		<!--web stylesheets here-->
    <link rel="stylesheet" type="text/css" href="/src/css/lgn.css">
		<link rel="stylesheet" href="/src/css/normalize.css">
    <link rel="stylesheet" href="/src/css/skeleton.css">
    <link rel="stylesheet" href="/src/css/bootstrap.min.css">
		<link rel="stylesheet" href="/src/css/master.css">
		<!-- <link rel="stylesheet" href="/src/semantic/dist/semantic.css"> -->

		<!--web stylesheets end here-->

		<!--javascript links here-->
		<script src="/src/js/app.js" charset="utf-8"></script>
		<script src="/src/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/src/js/jquery-3.2.1.min.js" charset="utf-8"></script>
		<script src="/src/js/popper.js" charset="utf-8"></script>
		<script src="/src/js/tooltip.js" charset="utf-8"></script>
		<!-- <script src="/src/semantic/dist/semantic.min.js"></script> -->
	  <script src="/src/js/axios.js"></script>


		<!--javascript links end here-->
</head>
<body>
		<%- body -%>
 <script>
    $(document).ready(() => {

      let signupdiv = $('#sgnup');
      let grtngdiv = $('greetingdiv');
			let footer = $('#footer');
      signupdiv.fadeOut(0);
			footer.fadeOut(0);

      setTimeout(() => {
        document.getElementById('greeting').innerHTML = '<h2 id="greeting">Hola👲</h2>';
		  },2500);

      setTimeout(() => {
        document.getElementById('greeting').innerHTML = '<h2 id="greeting">Bonjour👦</h2>';
      },4500);

      setTimeout(() => {
        document.getElementById('greeting').innerHTML = '<h2 id="greeting">Makadini🧓</h2>';
      },6500);

      setTimeout(() => {
        document.getElementById('greeting').innerHTML = '<h2 id="greeting">Unjani🤵</h2>';
      },8500);

      setTimeout(() => {
        document.getElementById('greeting').innerHTML = '';
      }, 11500);

      setTimeout(() => {
        signupdiv.fadeIn(5000);
      }, 12000);

			setTimeout(() => {
				footer.fadeIn(5000);
			},14000);
    });


    $(document).ready(() => {
			let loginForm = $('#hiddenview');
			let openview = $('#openview');
			loginForm.fadeOut(0);

			setTimeout(() => {
				loginForm.fadeIn(4000);
			}, 5000);
		});

		$(document).ready(() => {
			let topup = $('#topup');
			let uploads = $('#uploads');

			topup.fadeOut(0);
			uploads.fadeOut(0);
		});

		//event listeners
		document.getElementById('wallet').addEventListener('click', popwallet);
		document.getElementById('back').addEventListener('click', goback);
		document.getElementById('upload').addEventListener('click', fireup);
		document.getElementById('backupL').addEventListener('click', firedown);

		//functions
		function popwallet(){
			let menu = $('#menu');
			let topup = $('#topup');

			menu.fadeOut(3);
			topup.fadeIn(10);
		};

		function goback(){
			let menu = $('#menu');
			let topup = $('#topup');

			topup.fadeOut(3);
			menu.fadeIn(10);
		};

		function fireup(){
			let menu = $('#menu');
			let uploads = $('#uploads');

			menu.fadeOut(3);
			uploads.fadeIn(10);
		};

		function firedown(){
			let menu = $('#menu');
			let uploads = $('#uploads');

			uploads.fadeOut(3);
			menu.fadeIn(10);
		};
 </script>
</body>
</html>
