<!DOCTYPE html>
<html>
<head>
	<title> <%= title %> </title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
		<!--web stylesheets here-->
    <link rel="stylesheet" type="text/css" href="/src/css/lgn.css">
		<link rel="stylesheet" href="/src/css/normalize.css">
    <link rel="stylesheet" href="/src/css/skeleton.css">
    <link rel="stylesheet" href="/src/css/bootstrap.min.css">
		<link rel="stylesheet" href="/src/css/master.css">
		<!--web stylesheets end here-->

		<!--javascript links here-->
		<script src="/src/js/app.js" charset="utf-8"></script>
		<script src="/src/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/src/js/jquery-3.2.1.min.js" charset="utf-8"></script>


		<!--javascript links end here-->
</head>
<body style="background-image: url("./src/images/bg.jpg");">


		<%- body -%>

 <script>
    $(document).ready(() => {

      let signupdiv = $('#sgnup');
      let grtngdiv = $('greetingdiv');
			let footer = $('#footer');
      signupdiv.fadeOut(0);
			footer.fadeOut(0);

      setTimeout(() => {
        document.getElementById('greeting').innerHTML = '<h2 id="greeting">Hola👲</h2>';
		  },2500);

      setTimeout(() => {
        document.getElementById('greeting').innerHTML = '<h2 id="greeting">Bonjour👦</h2>';
      },4500);

      setTimeout(() => {
        document.getElementById('greeting').innerHTML = '<h2 id="greeting">Makadini🧓</h2>';
      },6500);

      setTimeout(() => {
        document.getElementById('greeting').innerHTML = '<h2 id="greeting">Unjani🤵</h2>';
      },8500);

      setTimeout(() => {
        document.getElementById('greeting').innerHTML = '';
      }, 11500);

      setTimeout(() => {
        signupdiv.fadeIn(5000);
      }, 12000);

			setTimeout(() => {
				footer.fadeIn(5000);
			},14000);
    });


    $(document).ready(() => {
			let loginForm = $('#hiddenview');
			let openview = $('#openview');
			loginForm.fadeOut(0);

			setTimeout(() => {
				loginForm.fadeIn(4000);
			}, 5000);
		});
 </script>

</body>
</html>
