<%layout('boilerplate')-%>
<body>
  <div class="row">
    <div class="col">
      <h1>Hi <%-name%></h1>
      <div class="">
        <label for="wallet">Wallet:</label><span class="badge badge-pill">$<%-wallet%></span>
      </div>
    </div>
  </div>
</body>
