<%layout('boilerplate')-%>
<body class="bg-secondary row">
<div class="container bg-light">
    <div>
      <h1>Hi. I'm <span id="span">EMACL</span></h1>
      <p class="text-secondary">
        <span id="we">I</span>
        <span id="are"> am</span>
        <span id="here"> here</span>
        <span id="to"> to</span>
        <span id="make"> make</span>
        <span id="printing"> printing</span>
        <span id="an"> an</span>
        <span id="easy"> easy</span>
        <span id="job"> job</span>
        <span id="for"> for</span>
        <span id="you"> you</span>
        <span id="dot">.</span>
      </p>
      <form method="get">
        <a href="/signup"><button type="button" id="signupbtn">SIGN UP</button></a>
        <a href="/login"><button type="button" id="loginbtn">LOGIN</button></a>
      </form>
    </div>
  </div>
</body>
